.sgs--button {
    margin: 8px 0 0 10px;
    cursor: pointer;
    display: inline-block;
}


.sgs--button_primary {
    color: #3670B1;
}

.sgs--button_default {
    color: #24b123;
}

.sgs--button_normal {
    color: #ab5634;
}
