.sgs--toast_container {
    position: fixed;
    top: 100px;
    right: 50px;
}

.sgs--toast_item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: all;


    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    margin-bottom: 12px;

    transition: all .5s;
}

.sgs--toast_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sgs--toast_item-success .sgs--toast_icon {
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.765 19.629c0-9.722-7.865-17.587-17.586-17.587-9.722 0-17.587 7.865-17.587 17.587s7.865 17.586 17.587 17.586c9.721 0 17.586-7.864 17.586-17.586z' fill='%231DBF6E' stroke='%23fff' stroke-width='3.908'/%3E%3Cpath d='M12.363 17.675l5.863 5.862 9.77-9.77' stroke='%23fff' stroke-width='2.931'/%3E%3C/svg%3E");
}


.sgs--toast_item-error .sgs--toast_icon {
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.976 37.215c9.712 0 17.586-7.873 17.586-17.586 0-9.713-7.874-17.587-17.586-17.587-9.713 0-17.587 7.874-17.587 17.587 0 9.713 7.874 17.586 17.587 17.586z' fill='%23FF4040' stroke='%23fff' stroke-width='3.908'/%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.335 19.182l-4.954 4.955 1.842 1.842 4.954-4.954 4.954 4.954 1.843-1.842-4.954-4.955 4.955-4.955-1.842-1.843-4.956 4.956-4.955-4.956-1.843 1.843 4.956 4.955z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.335 19.182l-4.954 4.955 1.842 1.842 4.954-4.954 4.954 4.954 1.843-1.842-4.954-4.955 4.955-4.955-1.842-1.843-4.956 4.956-4.955-4.956-1.843 1.843 4.956 4.955z' fill='%23fff'/%3E%3Cpath d='M13.38 24.137L12 22.755l-1.383 1.382L12 25.518l1.382-1.381zm4.955-4.955l1.382 1.382 1.381-1.382-1.381-1.381-1.382 1.381zm-3.112 6.797l-1.382 1.381 1.382 1.382 1.382-1.382-1.382-1.381zm4.954-4.954l1.382-1.382-1.382-1.382-1.381 1.382 1.381 1.382zm4.954 4.954L23.75 27.36l1.381 1.381 1.382-1.381-1.382-1.382zm1.843-1.842l1.381 1.381 1.382-1.381-1.382-1.382-1.381 1.382zm-4.954-4.955l-1.382-1.381-1.382 1.381 1.382 1.382 1.382-1.382zm4.955-4.955l1.382 1.381 1.382-1.381-1.382-1.382-1.382 1.382zm-1.842-1.843l1.382-1.382-1.382-1.381-1.382 1.381 1.382 1.382zm-4.956 4.956l-1.381 1.382 1.381 1.382 1.382-1.382-1.382-1.382zm-4.955-4.956l1.381-1.381-1.382-1.382-1.381 1.382 1.382 1.381zm-1.843 1.843l-1.382-1.382-1.381 1.382 1.381 1.381 1.382-1.381zm1.384 11.291l4.954-4.954-2.764-2.763L12 22.755l2.764 2.763zm1.842-.92l-1.842-1.843-2.764 2.763 1.842 1.842 2.764-2.763zm2.19-4.955l-4.954 4.954 2.764 2.763 4.954-4.953-2.764-2.764zm7.718 4.954l-4.954-4.954-2.764 2.764 4.955 4.954 2.763-2.764zm-.921-1.842l-1.842 1.842 2.763 2.764 1.842-1.843-2.763-2.763zm-4.954-2.19l4.954 4.953 2.763-2.763-4.954-4.954-2.763 2.763zm4.956-7.72L20.638 17.8l2.763 2.763 4.956-4.956-2.763-2.763zm-1.843.921l1.843 1.842 2.763-2.763-1.842-1.843-2.764 2.764zm-2.192 4.956l4.956-4.956-2.764-2.764-4.956 4.956 2.764 2.764zm-7.72-4.956l4.957 4.956 2.763-2.764-4.956-4.955-2.763 2.763zm.922 1.842l1.842-1.842-2.763-2.763-1.843 1.842 2.764 2.763zm4.956 2.193l-4.956-4.956-2.764 2.763 4.956 4.956 2.764-2.763z' fill='%23fff' mask='url(%23a)'/%3E%3C/svg%3E");
}


.sgs--toast_item-info .sgs--toast_icon {
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.771.996c8.643 0 15.633 6.99 15.633 15.633 0 8.642-6.99 15.632-15.633 15.632C7.13 32.261.14 25.271.14 16.63.139 7.986 7.129.996 15.77.996zm-1.954 5.862h3.908v11.725h-3.908V6.858zm3.908 15.633h-3.908V26.4h3.908v-3.908z' fill='%23999'/%3E%3C/svg%3E");
}
